@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
  margin: 0;
  padding: 0px;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  padding-bottom: 320px;
  background-image: url("./Group3.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background: rgb(242, 249, 252)
}

body * {
  transition: all 500ms ease-in-out;
}

.container{
  width: 80%;
  height: auto;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: space-between;
  color: #111;

}
nav ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
}
nav ul li a {
  text-decoration: none;
  color: #111;

}
nav ul li {
  display: inline-block;
  margin-left: 10px
}
nav ul:first-of-type li:first-of-type{
  font-weight: bold;
  font-size: 1.1rem;

}
header {
  position: relative;
}

header div {
  padding-top: 150px;

}

header div h1 {
  font-size: 75px;
}

header div p {
  width: 100px;
  font-size: 20px;
  line-height: 28px;
}

header img {
  position: absolute;
  z-index: -1;
  
  right: -30%;
  top: -20px;
}

header div a {
  padding: 20px;
  display: block;
  margin-top: 70px;
  width: 170px;
  border-radius: 40px;
  color: #eee;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

header div a,
.newsletter input[type="submit"] {
  border: 1px solid blue;
  color: blue;
}

header div a:hover,
.newsletter input[type="submit"]:hover {
  background: blue;
  color: #eee;
}
main {
  padding-top: 100px;
}

h2 {
  font-size: 45px;
  margin-bottom: 120px;
}

h3 {
  font-size: 30px;
  color: rgb(12, 0, 116);
}

.services {
  margin-top: 300px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px 180px 0px;
  position: relative;
}

.services-card {
  width: 40%;
  height: 400px;
  background: #222;
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 52px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 52px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 52px -19px rgba(0, 0, 0, 0.75);
}

.service-description {
  width: 40%;
}

.service-one {
  background: url("https://images.unsplash.com/photo-1581094648468-20624f9c771a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")center;
}

.service-two {
  background: url("https://images.unsplash.com/photo-1581091870619-835cee86e759?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80")center;
}

.service-three {
  background: url("https://images.unsplash.com/photo-1427751840561-9852520f8ce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80")center;
}

.newsletter {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.newsletter * {
  padding: 20px;
  border-radius: 40px;
  border: none;
  margin: 0px;
  background: none;
  font-size: 20px;
}

.newsletter input[type="email"] {
  width: 60%;
  display: inline-block;
  border: 1px solid #222;
  margin-right: 20px;
}

.newsletter input[type="submit"] {
  width: 170px;
  color: blue;
  cursor: pointer;
}


.back {
  background: none;
  padding: 10px;
  border: none;
  border-bottom: 3px solid blue;
  font-size: 14px;
  margin-top: 50px;
  cursor: pointer;
  color: blue;
}

@media screen and (max-width: 1600px) {
  header img {
    width: 700px;
    right: -50%;
    top: -28px;
    left: 50%;
  }
}

@media screen and (max-width: 1380px) {
  header img {
    right: -66%;
    top: 50px;
    left: 40%;
  }
  header div {
    padding-top: 50px;
    right: -45%;
    
  }
  header div h1 {
    font-size: 55px;
  }
  header div p {
    width: 400px;
  }
}

@media screen and (max-width: 1150px) {
  header img {
    width: 600px;
    right: -50%;
    top: 100px;
    left: 40%;
  }
  header div h1 {
    font-size: 55px;
  }
  header div p {
    width: 400px;
  }
  .service-container {
    display: block;
  }
  .services-card {
    width: 100% ;
    height: 400px ;
  }
  .service-description {
    width: 100%;
  }
  .service-one,
  .service-two,
  .service-three {
    background-size: 120% !important;
  }
  .contact input[type="submit"] {
    width: 40%;
  }
}

@media screen and (max-width: 950px) {
  header img {
    width: 500px;
    right: -70%;
    top: 499px;
    left: -15%;
  }
  .newsletter {
    width: 100%;
  }
  .newsletter input[type="email"] {
    width: 100%;
    margin-right: 0px;
  }
  .newsletter input[type="submit"] {
    margin-top: 40px;
  }
  .contact {
    width: 90%;
  }
  .contact input[type="submit"] {
    width: 100%;
    margin: 40px 0px;
  }
}
.button{
 background-color: white;
 color: black;
 border: 2px solid rgb(76, 115, 245);
 border-radius: 12px;
 padding: 12px 28px;
 margin: 0 0 20px 150px;
 font-size: 20px;
 
}
.button:hover {
  background-color: rgb(70, 87, 243);
  
  color: white;
}
.fade-custom {
  -webkit-transition: all .30s linear !important;
  -o-transition: all .30s linear !important;
  transition: all .30s linear !important;
  transform: scale(0) !important;
}

.fade.in {
  transform: scale(1) !important;
}